<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CollegeConnect</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>rcpit.comp1.services.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssReg</display-name>
    <servlet-name>AssReg</servlet-name>
    <servlet-class>rcpit.comp1.services.AssReg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssReg</servlet-name>
    <url-pattern>/AssReg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HODReg</display-name>
    <servlet-name>HODReg</servlet-name>
    <servlet-class>rcpit.comp1.services.HODReg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HODReg</servlet-name>
    <url-pattern>/HODReg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TPOReg</display-name>
    <servlet-name>TPOReg</servlet-name>
    <servlet-class>rcpit.comp1.services.TPOReg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TPOReg</servlet-name>
    <url-pattern>/TPOReg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudReg</display-name>
    <servlet-name>StudReg</servlet-name>
    <servlet-class>rcpit.comp1.services.StudReg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudReg</servlet-name>
    <url-pattern>/StudReg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssLogin</display-name>
    <servlet-name>AssLogin</servlet-name>
    <servlet-class>rcpit.comp1.services.AssLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssLogin</servlet-name>
    <url-pattern>/AssLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssReqAdd</display-name>
    <servlet-name>AssReqAdd</servlet-name>
    <servlet-class>rcpit.comp1.services.AssReqAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssReqAdd</servlet-name>
    <url-pattern>/AssReqAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssEvAdd</display-name>
    <servlet-name>AssEvAdd</servlet-name>
    <servlet-class>rcpit.comp1.services.AssEvAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssEvAdd</servlet-name>
    <url-pattern>/AssEvAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssNotAdd</display-name>
    <servlet-name>AssNotAdd</servlet-name>
    <servlet-class>rcpit.comp1.services.AssNotAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssNotAdd</servlet-name>
    <url-pattern>/AssNotAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginTPO</display-name>
    <servlet-name>LoginTPO</servlet-name>
    <servlet-class>rcpit.comp1.services.LoginTPO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginTPO</servlet-name>
    <url-pattern>/LoginTPO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TPOAddJob</display-name>
    <servlet-name>TPOAddJob</servlet-name>
    <servlet-class>rcpit.comp1.services.TPOAddJob</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TPOAddJob</servlet-name>
    <url-pattern>/TPOAddJob</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TPOJobAdd</display-name>
    <servlet-name>TPOJobAdd</servlet-name>
    <servlet-class>rcpit.comp1.services.TPOJobAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TPOJobAdd</servlet-name>
    <url-pattern>/TPOJobAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestC</display-name>
    <servlet-name>TestC</servlet-name>
    <servlet-class>rcpit.comp1.services.TestC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestC</servlet-name>
    <url-pattern>/TestC</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginHOD</display-name>
    <servlet-name>LoginHOD</servlet-name>
    <servlet-class>rcpit.comp1.services.LoginHOD</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginHOD</servlet-name>
    <url-pattern>/LoginHOD</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HODNotAdd</display-name>
    <servlet-name>HODNotAdd</servlet-name>
    <servlet-class>rcpit.comp1.services.HODNotAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HODNotAdd</servlet-name>
    <url-pattern>/HODNotAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginStud</display-name>
    <servlet-name>LoginStud</servlet-name>
    <servlet-class>rcpit.comp1.services.LoginStud</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginStud</servlet-name>
    <url-pattern>/LoginStud</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test2</display-name>
    <servlet-name>Test2</servlet-name>
    <servlet-class>rcpit.comp1.services.Test2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test2</servlet-name>
    <url-pattern>/Test2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TPOAddCom</display-name>
    <servlet-name>TPOAddCom</servlet-name>
    <servlet-class>rcpit.comp1.services.TPOAddCom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TPOAddCom</servlet-name>
    <url-pattern>/TPOAddCom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudAddCom</display-name>
    <servlet-name>StudAddCom</servlet-name>
    <servlet-class>rcpit.comp1.services.StudAddCom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudAddCom</servlet-name>
    <url-pattern>/StudAddCom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssReqConAdd</display-name>
    <servlet-name>AssReqConAdd</servlet-name>
    <servlet-class>rcpit.comp1.services.AssReqConAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssReqConAdd</servlet-name>
    <url-pattern>/AssReqConAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudReqConAdd</display-name>
    <servlet-name>StudReqConAdd</servlet-name>
    <servlet-class>rcpit.comp1.services.StudReqConAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudReqConAdd</servlet-name>
    <url-pattern>/StudReqConAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssAddCom</display-name>
    <servlet-name>AssAddCom</servlet-name>
    <servlet-class>rcpit.comp1.services.AssAddCom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssAddCom</servlet-name>
    <url-pattern>/AssAddCom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudEvConAdd</display-name>
    <servlet-name>StudEvConAdd</servlet-name>
    <servlet-class>rcpit.comp1.services.StudEvConAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudEvConAdd</servlet-name>
    <url-pattern>/StudEvConAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HODAddCom</display-name>
    <servlet-name>HODAddCom</servlet-name>
    <servlet-class>rcpit.comp1.services.HODAddCom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HODAddCom</servlet-name>
    <url-pattern>/HODAddCom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudHODNotCom</display-name>
    <servlet-name>StudHODNotCom</servlet-name>
    <servlet-class>rcpit.comp1.services.StudHODNotCom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudHODNotCom</servlet-name>
    <url-pattern>/StudHODNotCom</url-pattern>
  </servlet-mapping>
</web-app>